$primary-color: #ff9800;
$secondary-color: #0073e5;
$tertiary-color: #0049b2;

$white: #ffffff;
$black: #000000;
$green: #6fff65;
$red: #c51e1e;

$font-becker: 'beckerregular';
$font-rudelsberg: 'rudelsbergregular';
$font-primary: 'Acme-Regular';
$font-text: 'Lora';